# os specific
.DS_Store

# build directories
build/
lib/
buildGradle

# artifacts
*.zip

*.iml
.idea/
out/
target/
.gradle
scripts/
DEBUG/


*~

# eclipse
.classpath
.project
test262
bin/
.settings/
docs/yarn.lock
docs/